.div-margin-top {
    margin-top: 7%;
}

@media (max-width: 768px) {
    .div-margin-top {
        margin-top: 13%;
    }
}

.choice {
    width: 10rem; 
    height: 5rem; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.btn-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
}

.fa-arrow-left {
    cursor: pointer;
    font-weight: bolder;
}

/* Fetch Employee Data Loading */

.dot1, .dot2, .dot3 {
    opacity: 0;
    animation: showDots 1s infinite steps(3);
}

.dot1 {
    animation-delay: 0s;
}

.dot2 {
    animation-delay: 0.4s;
}

.dot3 {
    animation-delay: 0.8s;
}

@keyframes showDots {
    0%, 100% {
        opacity: 0;
    }
    25%, 50%, 75% {
        opacity: 1;
    }
}

.margin-top-form {
    margin-top: 4%;
}

.log-form-width {
    width: 100vh;
}

@media (max-width: 768px) {
    .reverse-flex {
        flex-direction: column;
    }

    .margin-top-20 {
        margin-top: 20%;
    }

    .margin-top-5 {
        margin-top: 5%;
    }

    .log-form-width {
        width: 80vh;
    }
}